// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$white: #fff;
$black: #000;
$green: #38c172;
$teal: #4dc0b5;

$active: #2cdbad;
$done: #2cdbad;
$error: #e3342f;

$line: rgba(19, 30, 79, 0.2) ;
$textcolor: #2e2e2e;
$textcolor: #858585;
$textdone: #fff;

$body: #f8f9fa;